body{
	background: 		url('../images/bg.jpg');
	background-size:	cover;
	color:				white;
	margin:				0;
	padding:			0;
	overflow: 			auto;
	height:100%;
}

.pContent{
	position: relative;

	background-color: 	rgba(0,0,0,0.5);
	color:				white;
	z-index: 1;
	overflow-y:auto;
	
}

table{

}

.smallForms input{
	width:				30%;
	margin-left:		0;
}

.pContent label{
	padding:			0px;
	width:				10%;
	
}

#submitForm{
	width:10% !important;
	border-radius:5%;
	background-color: gray;
}


#left{
	margin-left:2%;
	width:30%;
	float:left;
}

#middle{
	margin-left:20%;
	width:40%;
	float:left;
}

#middle textarea{
	margin-left:4% !important;
}


#right{
	margin-left:2%;
	width:30%;
	float:right;
}

.clear{
	clear:both;
}



#doResponse{
	padding:1.2%;
	padding-left:1.4%;
	width:30%;
	height:10%;
	background-color: black;
	margin-bottom: 2%
}
#doResponse:hover{
	cursor:pointer;
}

textarea{
	color:black;
}


#myButton{
	margin-top:3%;
	margin-left:		25%;
	width:				8%;
	background-color:	rgba(0,0,0,0.6);
	color:				white;
	border:				none;
}

#responseForm{
	margin-top:2%;
	
}

#closeForm{
	width:4%;
	height:3%;
	background-color: black;
	color:white;

}

#closeForm:hover{
	cursor:pointer;
}

#slideUp{
	
	position:absolute;
	top:0%;
	left:-70%;
	width:70%;
	height:100% !important;
	background-color: rgba(0,0,0,1);
	padding:4%;
	padding-top:0;
	z-index: 2;
}

#slideUp label{
	margin-left:20px;
	width:20%;
}

#transDiv{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	background-color:rgba(0,0,0,0);
	z-index: 0;
}

#addPartner{
	position:relative;
	right:2%;
	top:10%;
	border-radius:50%;
	width: 30px;
	height: 30px;
	background-color: gray;
	margin:0;
	padding:0;
}



#logout{
	background: rgba(0,0,0,0);
	border:none;
	font-weight: bold;
}

#welcome{
	position:absolute;
	right:0%;
	padding:2%;
	padding-bottom:0;
	margin-bottom: 0;

}
#welcome form{
	width:5%;
}

#accountForm{
	margin-left:20%;
}

#accountForm label{
	width:25%;
}

#fileAndSubmit{
	position: fixed;
	top:50%;
	left:5%;
	width:60%;
	height:40%;
}

#fileAndSubmit input{
	margin-bottom:2%;
}


#addPartner h3{
	margin:0 !important;
	padding:0 !important;
	margin-left:8px !important;
	margin-top:4px !important;
}
#addPartner:hover{
	cursor:pointer;
}

#responseForm input{
	width:100%;
	margin-left: 5%;
}
#responseForm label{
	width:30%;
	margin-left:0;
}

#short{
	width:2%;
}


.respondButton{
	width:100%;
	height:7%;
	background-color: rgba(0,0,0,0.3);
	padding:3%;
}

.respondButton:hover{
	cursor:pointer;
}

.respondButton p{
	padding:0;
	margin-top:10%;
	margin-left:6%;
}

.tab{
	border:				none;
	background-color: 	rgba(0,0,0,0.5);
	color: 				white;
	border-radius: 		0;

}

.nav{
	margin-top:			5%;
	margin-bottom: 		.2%;
	border:				none;
}

.nav li{
	margin-right:		.2%;

}

.sectionTitle{
	margin-top:			3%;
	margin-bottom:		4%;
	text-align:			center;
}

#footer {
		height: 				32px;
  		margin: 				0;
  		position:				fixed;
  		width: 					100%;
  		bottom: 				0;
  		left: 					0;
  		padding: 				12px;
  		background: 			rgba(0,0,0,0.5);
  		
	}
	#footerLeft{
		float:					left;
		font-size: 				12px;
	}
	#footerRight{
		float:					right;
		text-transform: 		uppercase;
	}
